<div class="container-fluid">
  <div class="col-md-12">
    <h2 class="bold black nunito text-center">Any thoughts?</h2>
    <hr/>
    <div id="disqus_thread"></div>
      <script>
      var disqus_shortname = 'booday10';
      var disqus_identifier = '<%= @pin.id %>';
      var disqus_title = '<%= @pin.title %>';
      var disqus_url = '<%= url_for([@pin, {only_path: false}]) %>';

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//booday10.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
      </noscript>
  </div> <!--col-md-12-->
</div> <!--container-fluid-->