<div class="container">
  <div class="row">
    <div class=" col-md-offset-4 col-md-8">
      
      <%= form_for @pin, html: { multipart: true } do |f| %>
        <% if @pin.errors.any? %>
          <ul>
            <% @pin.errors.full_messages.each do |msg| %>
              <li class="danger"><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
      
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
      <br/>
      <%= f.bootsy_area :content, editor_options: { color: false, link: false, image: false },
                        placeholder: 'Story', rows: 15, class: 'form-control' %>
      <div class="form-group">

        <label class="photo-upload"> 
          <%= f.file_field :image %>
          <i class="glyphicon glyphicon-picture"></i>
        </label>

        <%= f.collection_select(:category_id, Category.order(:name), :id, :name, {prompt: "Category"}, {class: 'form-control'}) %>
      </div>

      <%= f.submit "Save", class: "btn btn-primary btn-lg rway" %>
      <% end %>
    </div> <!--col-md-10-->
  </div> <!--row-->
</div> <!--container-->