<div class="box panel panel-default">
  <%= link_to image_tag(pin.image.url(:large)), pin unless pin.image.blank? %>
  <div class="panel-body">
    
    <h4 class="bold nunito"><%= link_to pin.title, pin %></h4>
    
  </div> <!--panel-body-->
</div> <!--box-->