<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="bold black nunito text-center">Popular</h2>
    <hr/>
    <div id="pins">
      <% @pins.each do |pin| %>
        <div class="box-sm panel panel-default">
          <%= link_to image_tag(pin.image.url(:large)), pin unless pin.image.blank? %>
          <div class="panel-body">
            <h5 class="bold mclaren"><%= link_to pin.title, pin %></h5>            
          </div> <!--panel-body-->
        </div> <!--box-->
      <% end %>
    </div> <!--pins-->
  </div> <!--col-md-8-->
</div> <!--container-fluid-->