<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <% unless @pins.blank? %>
      <div id="pins">
        <%= render @pins %>
      </div> <!--pins-->
      <div class="text-center">
        <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="col-md-offset-3 col-md-6 text-center no-stories">
  			<h3>There are no stories matching your search.</h3>
	      <h4>Please modify your search phrase and try again.</h4>
  		</div>
    <% end %>
  </div> <!--col-md-10-->
</div> <!--container-fluid-->