$("#dislikes_count_<%= @pin.id %>").html('<%= @pin.cached_votes_down %>');
$("#likes_count_<%= @pin.id %>").html('<%= @pin.cached_votes_up %>');
$("#dislikes_count_<%= @pin.id %>").hide().fadeIn(2000);