<% provide(:title, "#{@pin.title}") %>
<% provide(:pin_image_url, "#{@pin.image.url(:large)}") %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <p class="text-left">
          <%= image_tag @pin.image.url(:large), class: "img-responsive", style: "width: 100%;" unless @pin.image.blank? %>
        </p>
        <div class="panel-body">
          <h3 class="bold black nunito text-left"><%= @pin.title %></h3>
          <span id="article"><%= simple_format @pin.content %></span>
          <div class="col-md-offset-4 col-md-6">
            <div class="btn btn-group">
              <% if logged_in? %>
                <%= link_to edit_pin_path(@pin), class: "btn btn-primary rway" do %>
                  Edit
                <% end %>
                <%= link_to @pin, class: "btn btn-danger", method: :delete, data: { confirm: "This action is permanent." } do %>
                  <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              <% end %>        
            </div>
          </div>
          <%= social_share_button_tag(@pin.title, image: @pin.image.url, popup: "true") %>
        </div>
      </div> <!--panel-->
      <!-- < render 'disqus' > -->
    </div> <!--col-md-8-->
    <div class="col-md-4">
      <%= render 'side_bar' %>
    </div> <!--col-md-4-->
  </div> <!--row-->
</div>