<% provide(:title, @user.name) %>
<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
  	<% if @pins.count == 0 %>
  		<div class="col-md-offset-3 col-md-6 text-center no-stories">
  			<h3>No stories here.</h3>
  		</div>
  	<% end %>
    <div id="pins">
      <%= render @pins %>
    </div> <!--pins-->
    <div class="text-center">
      <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
    </div>
  </div> <!--col-md-10-->
</div> <!--container-fluid-->