// Lato, Nunito, Bitter
// font-family: 'Lato', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Bitter', serif;
// font-family: 'McLaren', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Pacifico', cursive;

@import url(https://fonts.googleapis.com/css?family=McLaren|Nunito:400,700|Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway|Pacifico);

// bootstrap customizations
$navbar-height: 50px;
$body-bg: #fff;
$font-family-sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-default-brand-color: white;
$navbar-default-bg: black;
$navbar-default-border: black;
$navbar-default-link-color: white;
$panel-default-border: white;
$brand-primary: black;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

//Site-wide CSS
body { padding-top: 70px; }
.navbar-brand {
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  letter-spacing: -4px;
}
.nunito {
  font-family: 'Nunito', sans-serif;
}
.mclaren {
  font-family: 'McLaren', cursive;
}
.rway {
  font-family: 'Raleway', sans-serif;
}
.bold {
  font-weight: bold;
}
#article {
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
}
input, textarea {
  width: 100%;
  margin-top: 10px;
}
.push-down {
  margin-top : 10px;
}
.yellow {
  background: #e9d460;
}
.black {
  color: black;
}
.grey {
  color: grey;
}
h4 a, h5 a {
  color: black;
}
h4 a:hover, h5 a:hover {
  text-decoration: none;
}
.signal {
  font-size: 20px;
  font-weight: bold;
}
.danger {
  color: #c0392b;
}
.actions {
  font-size: 20px;
}
.sm-actions {
  font-size: 15px;
}
.err {
  list-style: none;
  color: #c0392b;
  padding-bottom: 5px;
  margin-left: -35px;
}
.field_with_errors { border-bottom: 2px solid #c0392b; }
.no-stories { background: #e9d490; }
input[type="file"] { display: none; }
.photo-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 5px;
}