<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="<%= @pin.title if @pin %>" />
    <meta property="og:image" content="<%= @pin.image.url if @pin %>" />
    
    <title><%= full_title(yield(:title)) %></title>

    <%= favicon_link_tag(source='favicon.ico', options={}) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	
  	<%= render 'layouts/nav' %>
  	
    	<!-- flash ordinarily goes here -->
    
    	<%= yield %>
  	</div>
  </body>
</html>